# dependencies
node_modules

# secret
.env

# bower files
bower_components

# log files
logs

# notes test data
notes
notes-levelup-db
sqlite3-notes-db
notes-sequelize.sqlite3

# sequelize database yaml config
sequelize-*.yaml